.modal {
  display: block;
  text-align: center;
  padding-top: 100px;
}

.modal-header {
  display: block;
}

.modal-footer {
  display: block;  
}

.table {
  display: none;
}

img {
  width: 50%;
}

button.secondary-content {
  margin-left: 50px;
  border-radius: 5px;
}

button#btn-start-game {
  display: none;
}