.modal {
  display: block;
  text-align: center;
  padding-top: 100px;
}

.modal-header {
  display: inline-block;
}

.modal-footer {
  display: inline-block; 
}

ul#listOfPlayers {
  list-style: none;
}

img {
  width: 10%;
}

button.secondary-content {
  margin-left: 50px;
  border-radius: 5px;
}

button#btn-start-game {
  display: none;
}

div#rowPlayer {
  visibility: hidden;
}

div#rowDealer {
  visibility: hidden;
}